@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

body {
  font-family: 'Josefin Sans', cursive;
  background-color: #f9f9f9;
}